<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr23.fia.ues.sv.admon_poli">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".HorarioMenuActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ReservaMenuActivity" />
        <activity
            android:name=".HorarioEliminarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HorarioActualizarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HorarioInsertarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HorarioConsultarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReservaInsertarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReservaEliminarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReservaConsultarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReservaActualizarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".DetalleReservaMenuActivity" />
        <activity
            android:name=".DetalleReservaInsertarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DetalleReservaEliminarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DetalleReservaConsultarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DetalleReservaActualizarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ActividadMenuActivity" />
        <activity
            android:name=".ActividadInsertarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ActividadEliminarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ActividadActualizarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ActividadConsultarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".AdministradorMenuActivity" />
        <activity
            android:name=".AdministradorInsertarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AdministradorEliminarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AdministradorConsultarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AdministradorActualizarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".SolicitudMenuActivity" />
        <activity
            android:name=".SolicitudActualizarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SolicitudInsertarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SolicitudConsultarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SolicitudEliminarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AreaActualizarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AreaConsultarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AreaEliminarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AreaInsertarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".AreaMenuActivity" />
        <activity
            android:name=".DeporteActualizarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DeporteConsultarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DeporteEliminarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DeporteInsertarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".DeporteMenuActivity" />
        <activity
            android:name=".DeporteAreaActualizarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DeporteAreaConsultarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DeporteAreaEliminarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DeporteAreaInsertarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DeporteAreaMenuActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SolicitanteInsertarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SolicitanteMenuActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SolicitanteEliminarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SolicitanteConsultarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SolicitanteActualizarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TarifaMenuActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TarifaInsertarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TarifaActualizarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TarifaConsultarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TarifaEliminarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DetalleSolicitudActualizarActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".DetalleSolicitudInsertarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DetalleSolicitudEliminarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DetalleSolicitudConsultarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DetalleSolicitudMenuActivity" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>