<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr23.fia.ues.sv.admon_poli">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InsertarSolicitudActivity" />
        <activity android:name=".ConsultarSolicitudActivity" />
        <activity android:name=".EliminarSolicitudActivity" />
        <activity android:name=".ActiualizarSolcitudActivity" />
        <activity android:name=".SolicitudActualizarActivity" />
        <activity android:name=".SolicitudEliminarActivity" />
        <activity android:name=".SolicitudInsertarActivity" />
        <activity android:name=".SolicitudConsultarActivity" />
        <activity android:name=".SolicitudMenuActivity" />
        <activity android:name=".SolicitanteInsetarActivity" />
        <activity android:name=".SolicitanteMenuActivity" />
        <activity android:name=".SolicitanteActualizarActivity" />
        <activity android:name=".SolicitanteEliminarActivity" />
        <activity android:name=".SolicitanteConsultarActivity" />
        <activity android:name=".TarifaMenuActivity" />
        <activity android:name=".TarifaActualizarActivity" />
        <activity android:name=".TarifaConsultarActivity" />
        <activity android:name=".TarifaEliminarActivity" />
        <activity android:name=".TarifaInsertarActivity"></activity>
    </application>

</manifest>