<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr23.fia.ues.sv.admon_poli">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HorarioMenuActivity" />
        <activity android:name=".ReservaMenuActivity" />
        <activity android:name=".HorarioEliminarActivity" />
        <activity android:name=".HorarioActualizarActivity" />
        <activity android:name=".HorarioInsertarActivity" />
        <activity android:name=".HorarioConsultarActivity" />
        <activity android:name=".ReservaInsertarActivity" />
        <activity android:name=".ReservaEliminarActivity" />
        <activity android:name=".ReservaConsultarActivity" />
        <activity android:name=".ReservaActualizarActivity" />
        <activity android:name=".DetalleReservaMenuActivity" />
        <activity android:name=".DetalleReservaInsertarActivity" />
        <activity android:name=".DetalleReservaEliminarActivity" />
        <activity android:name=".DetalleReservaConsultarActivity" />
        <activity android:name=".DetalleReservaActualizarActivity" />
        <activity android:name=".ActividadMenuActivity" />
        <activity android:name=".ActividadInsertarActivity" />
        <activity android:name=".ActividadEliminarActivity" />
        <activity android:name=".ActividadActualizarActivity" />
        <activity android:name=".ActividadConsultarActivity" />
        <activity android:name=".AdministradorMenuActivity" />
        <activity android:name=".AdministradorInsertarActivity" />
        <activity android:name=".AdministradorEliminarActivity" />
        <activity android:name=".AdministradorConsultarActivity" />
        <activity android:name=".AdministradorActualizarActivity" />
        <activity android:name=".SolicitudMenuActivity" />
        <activity android:name=".AreaActualizarActivity" />
        <activity android:name=".AreaConsultarActivity" />
        <activity android:name=".AreaEliminarActivity" />
        <activity android:name=".AreaInsertarActivity" />
        <activity android:name=".AreaMenuActivity" />
        <activity android:name=".DeporteActualizarActivity" />
        <activity android:name=".DeporteConsultarActivity" />
        <activity android:name=".DeporteEliminarActivity" />
        <activity android:name=".DeporteInsertarActivity" />
        <activity android:name=".DeporteMenuActivity" />
        <activity android:name=".DeporteAreaActualizarActivity" />
        <activity android:name=".DeporteAreaConsultarActivity" />
        <activity android:name=".DeporteAreaEliminarActivity" />
        <activity android:name=".DeporteAreaInsertarActivity" />
        <activity android:name=".DeporteAreaMenuActivity"/>
    </application>

</manifest>